.site-footer {
    display: grid;
    font-family: var(--soehne-extralight);
    font-size: 1.2rem;
    line-height: 1.33;
    gap: 1.6rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    margin-top: 4.8rem;

    .company-name {
        color: var(--medium-green);
        font-family: var(--soehne);
    }

    address {
        font-style: normal;
    }
}

@media screen and (max-width: 1023px) {
    .site-footer {
        border-top: 0.5px solid var(--grey);
        
        .footer-left,
        .footer-right {
            grid-column: auto / span 6;
        }
    }
}

@media screen and (max-width: 425px) {
    .site-footer {
        .footer-left,
        .footer-right {
            grid-column: 1 / span 12;
            grid-column-start: 1;
        }
    }
}